*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar{
      width: 260px;
      min-height: 100vh;
    }

    .activity-img{
      width: 90px;
      height: 70px;
      object-fit: cover;
    }

    .action-btn{
      width: 40px;
      height: 40px;
    }

