{% extends 'base.html' %}
{% block content %}

    <div class="d-flex flex-column gap-3">

        
        {% for entry in entries %} 
            <div class="card border-0 shadow-sm">

            <div class="card-body">

                <div class="d-flex justify-content-between align-items-start flex-wrap gap-3">

                <div class="d-flex gap-3 flex-grow-1">

                    <img
                    src="{{ entry.image.url }}"
                    class="activity-img rounded"
                    alt=""
                    >

                    <div>

                    <div class="d-flex align-items-center gap-2 flex-wrap mb-2">

                        <h6 class="fw-bold mb-0">{{ entry.titre }}</h6>

                        <span class="badge text-bg-primary"> {{entry.categorie.nom}} </span>

                    </div>

                    <small class="text-secondary d-block mb-2">
                        <i class="bi bi-person"></i> {{entry.auteur}} <i class="bi bi-calendar"></i> {{entry.date_creation}}
                    </small>

                    <p class="text-secondary small mb-0"> {{entry.contenu | truncatewords:15}} </p>

                    </div>

                </div>

                <div class="d-flex gap-2">
                    {% if user.is_authenticated %}
                    <a href="{% url 'entry-detail' entry.pk %}" class="btn btn-light border rounded action-btn">
                        <i class="bi bi-eye text-primary"></i>
                    </a>

                    <a href="{% url 'entry-update' entry.id %}" class="btn btn-light border rounded action-btn">
                        <i class="bi bi-pencil text-warning"></i>
                    </a>

                    <a
                        href="{% url 'entry-delete' entry.pk %}"
                        class="btn btn-light border rounded action-btn">
                        <i class="bi bi-trash text-danger"></i>
                    </a>
                    {% endif %}
                </div>

                </div>

            </div>

            </div>
        {% endfor %}
      </div>

      <nav class="mt-4 d-flex justify-content-center">
    <ul class="pagination pagination-sm">

        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                <i class="bi bi-arrow-left-short"></i>
            </a>
        </li>
        {% endif %}

        <li class="page-item active">
            <span class="page-link">
                {{ page_obj.number }}
            </span>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                <i class="bi bi-arrow-right-short"></i>
            </a>
        </li>
        {% endif %}

    </ul>
</nav>

{% endblock %}> 